<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HF_DAL_WebserviceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4001/HF_DAL_Webservice.asmx"
                binding="basicHttpBinding" bindingConfiguration="HF_DAL_WebserviceSoap"
                contract="DAL_WS.HF_DAL_WebserviceSoap" name="HF_DAL_WebserviceSoap" />
        </client>
    </system.serviceModel>
</configuration>