<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HeathcareFamilyDB" connectionString="Data Source=(local)\;Initial Catalog=HEALTHCARE_FAMILY;Integrated Security=True;User ID=sa;Password=ngoc0106"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HF_BUS_WebserviceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:4002/HF_BUS_Webservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="HF_BUS_WebserviceSoap"
        contract="BUS_Webservice.HF_BUS_WebserviceSoap" name="HF_BUS_WebserviceSoap" />
    </client>
  </system.serviceModel>
</configuration>
